<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Status</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
    	<h1><a th:href="@{/statusnew}">Add new status</a></h1>
        <ul th:unless="${items.empty}">
       		<th:block th:each="item : ${items}">
       			<li>
       				<table>
       					<tr>
       						<td><h5 th:text="${item.name}"></h5></td>
       						<td><a th:href="@{/status/} + ${item.resourceId}">Edit</a></td>
       						<td><a href="#">Delete</a></td>
       					</tr>
       				</table>
       			</li>
   			</th:block>
   		</ul>
   		<ul th:if="${items.empty}">
       		<li>no records</li>
   		</ul>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>